<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
      <add name="Soccer" connectionString="Application Name=Soccer;Data Source=JDAVEY-WLT;Initial Catalog=Soccer;Integrated Security=True"/>
    </connectionStrings>
</configuration>